/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */

html {
  font-family: 'Open Sans', sans-serif;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  box-sizing: border-box;

  height: 100%;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #290BB8;
  background-color: #FAFAFA;
  color: #290BB8;
  height: 48px;
  width: 100px;
}

button:hover{
  background-color: #290BB8;
  color: #FAFAFA;
}

a {
  color: #FE2828;
}

a:hover {
  color: purple;
}

.body-landing {
  margin: 0;
  background-color: #FAFAFA;
}

.body-crepo {
  margin: 0;
  background-color: #290BB8;
  background: linear-gradient(to bottom right, #290BB8, #3E98E5, #F5F5F5);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.return-to-ppa {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 80px;
}
