@media screen and (min-width: 0){

  /* Text */

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  p1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
  }

  /* Nav Bar */

  nav {
    right: 0;
    position: fixed;
    margin: 0;
  }

  .clearfix {
    margin-right: 30px;
    margin-top: 20px;
  }

  /* Sections */


  /* Header */

  .header {
    background: url(/images/HD_1440/hd_landing.png) center / cover;
    height: 600px;
    justify-content: left;
    text-align: left;
    margin: 1% 1% 0 1%;
    width: 98%;
  }

  .ppa-logo{
    float: left;
    position: relative;
    margin: 20px 0px 0px 30px;
  }

  .landing-text-name{
    float: left;
    margin-top: 150px;
    margin-left: 20%;
    width: 80%;
  }

  .landing-text-slogan{
    float: left;
    margin-left: 20%;
    width: 80%;
  }

  .ppa-name {
    color: #F5F5F5;
  }

  .slogan {
    color: #F5F5F5;
    font-weight: bold;
  }

  /* Container */

  .container {
    margin: 0px auto;
    width: 100%;
  }

  .container div {
    float: left;
    margin: 1% 1% 1% 1%;
    width: 98%;
    overflow: hidden;
  }

  /* What is CREPO */

  .what-is-crepo {
    background: #FFE30A;
    background-size: cover;
    float: left;
    height: 425px;
  }

  .crepo-title{
    margin-top: 100px;
    font-weight: bold;
    text-align: center;
  }

  .crepo-explanation {
    display: inline-block;
    padding-left: 15%;
    padding-right: 15%;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  /* CREPO animation */

  .crepo-animation {
    background: url(/images/Mobile_320/mobile_full_animation_words.gif) no-repeat center center;
    background-color: #559B1E;
    justify-content: center;
    text-align: center;
    float: left;
    height: 500px;
  }

  .crepo-gif{
    margin-top: 75px;
  }

  /* Who is PPA */

  .who-is-ppa {
    background: url(/images/HD_1440/hd_blue_sky.png) center / cover;
    background-size: cover;
    float: left;
    height: 450px;
  }

  .ppa-about-title {
    margin-top: 100px;
    color: #F5F5F5;
    text-align: center;
    font-weight: bold;
  }

  .ppa-about-description {
    color: #F5F5F5;
    display: inline-block;
    padding-left: 15%;
    padding-right: 15%;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  /* Our Services */

  .our-services {
    background: url(/images/HD_1440/hd_snow.png) center / cover;
    background-size: cover;
    text-align: center;
    float: left;
    height: 800px;
  }

  .our-services-title{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
  }

  .ppa-services {
    text-align: left;
    display: inline-block;
    padding-left: 15%;
    padding-right: 15%;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  .ppa-services {
    list-style-image: url('/images/HD_1440/hd_logo_bullet_15.png');
  }

  /* Peter Sopher */

  .peter-sopher-president {
    background: #F5F5F5;
    height: 1000px;
    justify-content: center;
    float: left;
  }

  .peter-profpic {
    display: block;
    margin: 0 auto;
    padding-top: 100px;
  }

  .peter-sopher-title {
    text-align: center;
  }

  .peter-resume {
    text-align: left;
    display: inline-block;
    padding-left: 15%;
    padding-right: 15%;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  /* Footer */

  .footer {
    background: #050505;
    float: left;
    width: 100%;
    padding: 0;
    height: 225px;
  }

  .footer-container {
    width: 44%;
    float: left;
    overflow: auto;
    padding-left: 3%;
    padding-right: 3%;
  }

  .contact-email-text {
    float: left;
    margin-top: 75px;
    color: #F5F5F5;
  }

  .address {
    color: #F5F5F5;
    list-style: none;
    float: right;
    margin-top: 75px;
  }

  .address li {
    margin-left: 0;
    align-items: left;
  }

  .social-nav {
    padding: 15px 0px;
    width: 150px;
  }

  .social-nav li {
    list-style-type: none;
    display: inline;
    float:left;
    margin: 0px 10px 0px 0px;
    align-items: left;
  }


  /*Use Crepo Page*/

  .logo-crepo {
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
  }

  .use-crepo {
    background-color: #F5F5F5;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
    margin-bottom: 150px;
  }

  .use-crepo-title{
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
    margin-bottom: 50px;
  }

  .use-crepo-explanation{
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  .question-numbers{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding-left:0;
  }

  .question-numbers li{
    margin-bottom: 50px;
  }

  .submit-button-div{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 75px;
  }

  input[type=text] {
      width: 100%;
      margin-top: 20px;
      height: 40px;
      border: 2px solid #6F6F6F;
      border-radius: 4px;
      font-size: 14px;
      padding-left: 10px;
  }

  input[type=text]:focus {
      border: 2px solid #290BB8;
  }

  input[type=submit] {
      padding:5px 15px;
      background:#FFE30A;
      border:0 none;
      cursor:pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      color: #290BB8;
      font-weight: bold;
      font-size: 14px;
      width: 100px;
      height: 50px;
  }
}
