@media screen and (min-width: 600px){

  /* Text */

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
  }

  p1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.4;
  }

  /* Nav Bar */

  nav {
    right: 0;
    position: fixed;
    margin: 0;
  }

  .clearfix {
    margin-right: 30px;
    margin-top: 20px;
  }

  /* Sections */


  /* Header */

  .header {
    background-color: #290BB8;
    height: 600px;
    justify-content: left;
    text-align: left;
    margin: 1% 1% 0 1%;
    width: 98%;
    background: linear-gradient(to right, #290BB8, #3E98E5, #C2DFF8);
    background-size: 600% 600%;
    animation: GradientAnimation 12s ease infinite;

    -webkit-animation: GradientAnimation 12s ease infinite;
    -moz-animation: GradientAnimation 12s ease infinite;
    animation: GradientAnimation 12s ease infinite;
  }

  @-webkit-keyframes GradientAnimation {
      0%{background-position:0% 50%}
      50%{background-position:100% 51%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes GradientAnimation {
      0%{background-position:0% 50%}
      50%{background-position:100% 51%}
      100%{background-position:0% 50%}
  }
  @keyframes GradientAnimation {
      0%{background-position:0% 50%}
      50%{background-position:100% 51%}
      100%{background-position:0% 50%}
  }

  .ppa-logo{
    float: left;
    position: relative;
    margin: 20px 0px 0px 30px;
  }

  .landing-text-name-container {
    float: left;
    margin: 0px auto;
    width: 100%;
  }

  .landing-text-name-container div {
    float: left;
    display: inline;
    overflow: hidden;
  }

  .landing-text-name{
    float: left;
    margin-left: 10%;
    margin-top: 150px;
    width: 50%;
  }

  .landing-wind-gif{
    float:left;
    margin-top: 0px;
    width: 40%;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .wind-gif{
    width: 40%;
    margin-top: 165px;
  }

  .landing-text-slogan{
    float: left;
    margin-left: 10%;
    width: 80%;
    margin-top: -30px;
  }

  .ppa-name {
    color: #FAFAFA;
  }

  .slogan {
    color: #FAFAFA;
    font-weight: bold;
  }

  /* Circle Ads */

  .circle-ads {
    margin: 0px auto;
    width: 100%;
  }

  .circle-ads div {
    float: left;
    margin: 5% 1% 5% 1%;
    width: 98%;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    color: #290BB8;
  }

  .fast-title {
    font-weight: bold;
  }

  .customizable-title {
    font-weight: bold;
  }

  .efficient-title {
    font-weight: bold;
  }

  /* Container */

  .container {
    margin: 0px auto;
    width: 100%;
  }

  .container div {
    float: left;
    margin: 1% 1% 0% 1%;
    width: 98%;
    overflow: hidden;
  }

  /* What is CREPO */

  .what-is-crepo {
    background: #290BB8;
    background-size: cover;
    float: left;
    height: 475px;
  }

  .crepo-title{
    margin-top: 100px;
    font-weight: bold;
    text-align: center;
    color: #FAFAFA;
  }

  .crepo-explanation {
    display: inline-block;
    padding-left: 15%;
    padding-right: 15%;
    color: #FAFAFA;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  /* Four Steps */

  .four-steps {
    background: #3E98E5;
    background-size: cover;
    float: left;
    height: 500px;
  }

  .four-steps-title{
    margin-top: 100px;
    font-weight: bold;
    text-align: center;
    color: #FAFAFA;
  }

  .step-numbers {
    display: inline-block;
    padding-left: 15%;
    padding-right: 15%;
    color: #FAFAFA;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  .step-numbers li{
    margin-bottom: 15px;
  }

  /* Who is PPA */

  .who-is-ppa {
    background: #C2DFF8;
    background-size: cover;
    float: left;
    height: 700px;
  }

  .ppa-about-title {
    margin-top: 100px;
    color: #290BB8;
    text-align: center;
    font-weight: bold;
  }

  .ppa-about-description {
    color: #290BB8;
    display: inline-block;
    padding-left: 15%;
    padding-right: 15%;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  /* Our Services */

  .our-services {
    background: #DDEFFE;
    background-size: cover;
    text-align: center;
    float: left;
    height: 850px;
  }

  .our-services-title{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    color: #290BB8;
  }

  .ppa-services {
    text-align: left;
    display: inline-block;
    padding-left: 15%;
    padding-right: 15%;
    color: #290BB8;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  .ppa-services {
    list-style-image: url('/images/HD_1440/hd_logo_bullet_15.png');
  }

  /* Partners */

  .partners {
    float: left;
    background: #969696;
    margin: 1% 1% 1% 1%;
    width: 98%;
    height: 1400px;
    padding-top: 50px;
  }

  .partner-container {
    float: left;
    margin: 5% 1% 1% 1%;
    width: 48%;
    overflow: hidden;
    text-align: center;
    color: #FAFAFA;
  }

  .logo-image{
    margin-bottom: 50px;
  }

  .rec {
      text-align: left;
      display: inline-block;
      padding-left: 10%;
      padding-right: 10%;
      font-style: italic;

      /* Needs prefixing */
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
  }


  /* Footer */

  .footer {
    background: #050505;
    float: left;
    width: 100%;
    padding: 0;
    height: 225px;
  }

  .footer-container {
    width: 40%;
    float: left;
    overflow: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .contact-email-text {
    float: left;
    margin-top: 75px;
    color: #FAFAFA;
  }

  .address {
    color: #FAFAFA;
    list-style: none;
    float: right;
    margin-top: 75px;
  }

  .social-nav {
    padding: 15px 0px;
    width: 150px;
  }

  .social-nav li {
    list-style-type: none;
    display: inline;
    float:left;
    margin: 0px 10px 0px 0px;
    align-items: left;
  }


  /*Use Crepo Page*/

  .logo-crepo {
    left: 0;
    top:0;
    position: absolute;
  }

  .use-crepo {
    background-color: #FAFAFA;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    margin-bottom: 150px;
  }

  .use-crepo-title{
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
    margin-bottom: 50px;
  }

  .use-crepo-explanation{
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;

    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

  .question-numbers{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding-left:0;
  }

  .question-numbers li{
    margin-bottom: 50px;
  }

  .submit-button-div{
    text-align: center;
    margin-top: 75px;
    padding-bottom: 75px;
  }

  input[type=text] {
      width: 100%;
      margin-top: 20px;
      height: 40px;
      border: 2px solid #6F6F6F;
      border-radius: 4px;
      font-size: 18px;
      padding-left: 10px;
  }

  input[type=text]:focus {
      border: 2px solid #290BB8;
  }

  input[type=submit] {
      padding:5px 15px;
      background:#FAFAFA;
      border-width: 2px;
      border-color: #290BB8;
      cursor:pointer;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      color: #290BB8;
      font-weight: bold;
      font-size: 18px;
      width: 100px;
      height: 48px;
  }

  input[type=submit]:hover{
    background-color: #290BB8;
    color: #FAFAFA;
  }
}
